{% load url from future %}

{% autoescape off %}
<script type="text/javascript">
    $(function() {
        {% for tag_id in lazy_tag_ids %}
            $.ajax({
                type: "GET",
                url: "{% url 'lazy_tag' tag_id %}",
                success: function(data) {
                    $('#{{ tag_id }}-spinner').hide();
                    $('#{{ tag_id }}').replaceWith(data);
                },
                error: function(data) {
                    $('#{{ tag_id }}-spinner').hide();
                    $('#{{ tag_id }}').replaceWith('{{ error_message }}');
                }
            });
        {% endfor %}
    });
</script>
{% endautoescape %}