{% load lazy_tags %}
{% load test_tags %}

<div>
    <h2>Test</h2>
    {% lazy_tag 'test_tags.test' %}
</div>

<div style="background-color: black; color: white;">
    <h2>Test with black background</h2>
    {% lazy_tag 'test_tags.test' %}
</div>

<div>
    <h2>Tag with lots of queries</h2>
    {% lazy_tag 'test_tags.test_with_sleep' %}
</div>

<div>
    <h2>Test with args</h2>
    {% lazy_tag 'test_tags.test_with_args' 123 kwarg='hello' %}
</div>

<div>
    <h2>Test with errors</h2>
    {% lazy_tag 'test_tags.test_with_args' %}
</div>

<div>
    <h2>Test simple with decorator</h2>
    {% test_decorator %}
</div>

<div>
    <h2>Test simple with decorator and args</h2>
    {% test_simple_dec_args 123 kwarg='hello' %}
</div>

<div>
    <h2>Test nested tag</h2>
    {% lazy_tag 'tests.nested_tags.test_nested' %}
</div>
