{% load lazy_tags %}
<html>
<head>
    <title>Lazy tags tests</title>
    <style>
        body > div {
            width: 33%;
            border-radius: 4px;
            border: 1px solid #999;
            padding: 1em;
            box-sizing: border-box;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <h1>Lazy tags tests (Pure JavaScript)</h1>

    {% include "tests/_tags.html" %}

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {% lazy_tags_javascript %}
</body>
</html>