{% load lazy_tags %}
<html>
<head>
    <title>Lazy tags tests</title>
    <style>
        body > div {
            width: 33%;
            border-radius: 4px;
            border: 1px solid #999;
            padding: 1em;
            box-sizing: border-box;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <h1>Lazy tags tests (Prototype)</h1>

    {% include "tests/_tags.html" %}

    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    {% lazy_tags_prototype %}
</body>
</html>